@model UF5423_Aguas.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>Reset password</h2>
<br />
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">New password</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Confirm new password</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Reset password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
