@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.Title != null && Model.Message != null)
{
    <h2>@Model.Title</h2>
    <br />
    <h5>@Model.Message</h5>
}
else
{
    <h2>Error.</h2>
    <br />
    <h5>An error occurred while processing your request.</h5>
}