@model UF5423_Aguas.Data.Entities.Meter

@{
    ViewData["Title"] = "Delete";
}

<h2>Remove meter</h2>
<partial name="_MetersDetails" />

<div>
    <form asp-action="Delete" id="deletionForm">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Delete" type="submit" class="btn btn-danger" id="btnDelete">Delete</a> |
        <a asp-action="Index">Back to list</a>
    </form>
</div>


<div id="deletionDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove meter</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to remove this meter?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYes">Yes</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnDelete").click(function () {
                $("#deletionDialog").modal("show");
                return false;
            });

            $("#btnYes").click(function () {
                $("#deletionForm").submit();
            });
        });
    </script>
}
