@model UF5423_Aguas.Data.Entities.Meter

@{
    ViewData["Title"] = "Details";
}

<h2>Meter details</h2>
<partial name="_MetersDetails" />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
